.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: rgb(245, 245, 232);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 800px;
  height: 400px;
  padding: 2%;
  margin: 3% 3% 10%;
  overflow: auto; /* Add overflow for scrolling content */
}

.dropdowns {
  margin: 3% 3% 3%;
}

.dropdowns-and-email {
  display: flex;
  flex-direction: row;
}

.dynamic-fields {
  display: flex;
  flex-direction: column;
  margin-top: 50px; /* Adjust margin as needed */

}

.show-dynamic-fields .dynamic-fields {
  display: block; /* Show dynamic fields when this class is applied */
}